<app-single-layout [width]="70">
  <app-banner-aides></app-banner-aides>

  <div fxLayout="column" fxLayoutGap="16px">
    <section fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="16px">
      <img class="aside-img" src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-0-x1920.jpg"
        alt="Campagne Aides - 0">

      <div class="aside-text">
        <p class="text">
          <span class="red">Chaud Marais</span> accompagne <span class="red">Aides</span> pour la première édition de
          <span class="red">#fetelamour</span> avec une collection capsule pour dire oui à l’amour, non au sida.
        </p>

        <p class="text">
          A partir du samedi 04 juillet, <span class="red">#fetelamour</span> convoque idoles d’hier et d’aujourd’hui,
          créateurs et marques, tous et toutes concernés par le VIH, pour célébrer la liberté d’aimer, de se
          découvrir.
        </p>

        <p class="text">
          Magistrale ode à la vie, l’e-événement cul(turel) invite le public à jouir ensemble pour que l’avenir
          s’apaise, que
          l’amour redevienne joie, que le sexe reprenne ses droits : fêtons l’amour librement, à égalité et sans
          risque.
        </p>
      </div>
    </section>

    <section fxLayout="column">
      <p class="text">A cette occasion, Chaud Marais a imaginé une collection capsule exclusive aux broderies
        audacieuses, dont 20% des ventes sera reversé à l’association.</p>

      <p class="text red">Chez Chaud on ose, on aguiche, on provoque, on joue, on jouit, et on est solidaire !</p>
    </section>

    <section fxLayout="row" fxLayoutGap="16px">
      <div class="third">
        <img src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-1-y1920.jpg"
          alt="Campagne Aides - 0">
      </div>
      <div class="third">
        <img src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-2-y1920.jpg"
          alt="Campagne Aides - 0">
      </div>
      <div class="third">
        <img class="product-macaron" src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/ui/macaron-aides.png" alt="Macaron Aides">

        <img src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-3-y1920.jpg"
          alt="Campagne Aides - 0">
      </div>
    </section>

    <section fxLayout="row" fxLayoutGap="16px">
      <div style="width: 40%">
        <img fxFill src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-4-y1920.jpg"
          alt="Campagne Aides - 0">
      </div>
      <div style="width: 60%">
        <img src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-5-x1920.jpg"
          alt="Campagne Aides - 0">
      </div>
    </section>

    <section fxLayout="row" fxLayoutGap="16px">
      <div style="width: 60%">
        <img src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-6-x1920.jpg"
          alt="Campagne Aides - 0">
      </div>
      <div style="width: 40%">
        <img fxFill src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-7-x1920.jpg"
          alt="Campagne Aides - 0">
      </div>
    </section>

    <section fxLayout="row" fxLayoutGap="16px">
      <div style="width: 38%">
        <img src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-8-x1920.jpg"
          alt="Campagne Aides - 0">
      </div>
      <div style="width: 24%">
        <img fxFill src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-9-y1920.jpg"
          alt="Campagne Aides - 0">
      </div>
      <div style="width: 38%">
        <img src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-10-x1920.jpg"
          alt="Campagne Aides - 0">
      </div>
    </section>

    <section class="last" fxLayout="row" fxLayoutGap="16px">
      <img fxFill src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/campaign-aides/campagne-aides-11-x1920.jpg"
        alt="Campagne Aides - 0">
    </section>
  </div>
</app-single-layout>
