<app-two-layout [width]="70" [leftWidth]="'300px'" [title]="'Histoire'">
  <ng-container left>
    <img src="https://cdn.chaudmarais.fr/img/products/thumbs/anicet-x500.jpg" alt="Histoire">
  </ng-container>

  <ng-container right>
    <p>
      Imaginée en 2019 par Anicet Pham, styliste formée à Paris, la marque Chaud Marais prend le sexe à pleines
      mains pour en faire un sujet jouissif.
    </p>

    <p>
      Chaud c’est la célébration du plaisir, du désir, mais pas n’importe comment, dans des T-shirts en coton bio,
      conçus, dessinés et brodés en France
    </p>

    <p>
      Grâce à ses broderies impertinentes, la marque titille là où il faut. Chaud se dresse contre une morale
      restrictive pour laisser place à une libido revendiquée.
    </p>

    <p class="red">Chez Chaud on ose, on aguiche, on provoque, on joue, on jouit.</p>
  </ng-container>
</app-two-layout>
