<app-single-layout [title]="'Commande'">
  <mat-vertical-stepper [linear]="true" (selectionChange)="onStepChange($event)" #stepper>
    <mat-step>
      <ng-template matStepLabel>Confirmation du panier</ng-template>

      <app-cart-table></app-cart-table>

      <button mat-flat-button color="primary" matStepperNext>Suivant</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Choix de l'adresse de livraison</ng-template>

      <app-address-selector
        [addresses]="addresses$ | async"
        [value]="shippingAddress$ | async"
        (valueChange)="onShippingAddressChange($event)"
      >
      </app-address-selector>

      <div fxLayout="row" fxLayoutGap="16px">
        <button
          mat-flat-button
          color="primary"
          matStepperNext
          [disabled]="!(shippingAddress$ | async) || (loading$ | async)"
        >Suivant</button>

        <button
          mat-flat-button
          color="primary"
        >Ajouter une addresse</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Paiement</ng-template>

      <fieldset>
        <label for="checkout-card-name">Nom sur la carte</label>
        <input type="text" id="checkout-card-name" placeholder="Jean Dupont">
      </fieldset>

      <fieldset>
        <label for="checkout-card">Informations de la carte</label>
        <div #cardElement id="checkout-card"></div>
      </fieldset>

      <button
        mat-flat-button
        color="primary"
        matStepperNext
        [disabled]="!(complete$ | async) || (loading$ | async)"
        (click)="onPay()"
      >
        Valider le paiement
      </button>
    </mat-step>
  </mat-vertical-stepper>
</app-single-layout>
