<app-single-layout [title]="'Engagements'" [width]="70">
  <div fxLayout="column" fxLayoutGap="16px">
    <p>On vous a beaucoup parlé de nos valeurs de liberté.<br>
      Défendre la liberté c’estbien, mais dans du coton bio qui respecte notre planète c’est
      mieux.</p>

    <div class="text-center">
      <h3>100% Coton bio</h3>
    </div>

    <p>Le coton bio est une fibre naturelle, sans OGM, bien moins gourmande en eau que le
      coton conventionnel. Et surtout, sa production n’utilise pas de produits chimiques (ni
      engrais, ni pesticides) et favorise la rotation des cultures pour garder des sols plus sains,
      plus fertiles et plus humides. Quant aux déchets de l’égrainage du coton, ils sont
      recyclés pour l’industrie alimentaire animalière.</p>

    <div class="text-center">
      <h3>Certification GOTS</h3>
    </div>

    <p>GOTS, c’est le petit nom du label Global Organic Textile Standard. La certification la plus
      stricte en matière de textiles en fibres biologiques. Elle traque toute la chaîne de
      production depuis les champs de coton : de la récolte, à la fabrication des fibres,
      l’assemblage des pièces, le produit final avant impression, et même l’export de nos
      vêtements ! Elle certifie que notre coton est cultivé sans OGM, sans produits chimiques
      et qu’il est transformé et teinté sans substances toxiques prohibées. De plus, GOTS
      assure tout au long de la chaîne de production, le respect des standards sociaux de
      l’Organisation Mondiale du Travail. </p>
  </div>
</app-single-layout>
