@import '../../../../scss/variables';
@import '../../../../scss/mixins';

$preview-width: 400px;

section {
  display: flex;
  margin-bottom: 8px;
}

.product-preview {
  width: 100vw;
  margin: 0 -16px 32px;

  @include gt-xs {
    width: $preview-width;
    margin: 0 16px 0 0;
  }

  ngx-image-zoom {
    display: block;
  }

  ngx-image-zoom ::ng-deep .ngxImageZoomContainer > img {
    width: 100vw;

    @include gt-xs {
      width: $preview-width !important;
    }
  }
}

.product-wrapper {
  display: flex;
  flex-direction: column;

  @include gt-xs {
    flex-direction: row;
  }
}

.product-infos {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;

  @include gt-xs {
    justify-content: flex-end;
  }

  .product {
    margin-bottom: 16px;

    h1 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 900;

      @include gt-xs {
        font-size: 40px;
      }
    }

    h2 {
      margin: 0 0 16px;
      font-size: 24px;
      font-weight: 400;

      @include gt-xs {
        margin: 0 0 32px;
      }
    }

    .product-price {
      margin-bottom: 16px;
      color: $red;
      font-size: 60px;
      font-style: italic;
      font-weight: 900;
      line-height: 1;

      @include gt-xs {
        margin: 0 0 32px;
      }

      span {
        font-size: 0.6em;
        line-height: 1;
        vertical-align: top;
      }
    }

    p {
      line-height: 1.6;
    }
  }
}

.cart-wrapper {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: 8px;
  }
}
