<app-two-layout [width]="70" [leftWidth]="'500px'">
  <div left class="preview">
    <ngx-image-zoom
      [thumbImage]="'https://placehold.it/800x800'"
      [fullImage]="'https://placehold.it/1200x1200'"
      [zoomMode]="'hover'"
      [enableLens]="true"
      [circularLens]="true"
      [isInsideStaticContainer]="true"
    ></ngx-image-zoom>

    <app-product-thumbnails-swiper></app-product-thumbnails-swiper>
  </div>

  <section right class="product-wrapper">
    <div class="product">
      <h1>{{ product.name }}</h1>
      <h2>T-shirt</h2>
      <div class="product-price">
        {{ euros }}.<span>{{ cents }}</span>€
      </div>
      <p [innerHTML]="product.description | replace | safe:'html' ">
      </p>
    </div>

    <div class="cart-wrapper">
      <app-btn-select
        [placeholder]="'Taille'"
        [prefix]="'Taille'"
        [values]="stocksValues"
        [(ngModel)]="currentStock">
      </app-btn-select>

      <button class="btn-red" (click)="addToCart()">Ajouter au panier</button>
    </div>
  </section>
</app-two-layout>
