<app-single-layout [width]="100">
  <section class="product-wrapper">
    <div class="product-preview">
      <ng-container *ngIf="(product$ | async) as product">
        <ngx-image-zoom
          [thumbImage]="product.images[imageIndex] | thumb:500"
          [fullImage]="product.images[imageIndex] | thumb: 1500"
          [zoomMode]="'hover'"
          [enableLens]="true"
          [circularLens]="true"
          [lensWidth]="300"
          [lensHeight]="300"
          [isInsideStaticContainer]="true"
        ></ngx-image-zoom>
      </ng-container>
    </div>

    <div class="product-infos">
      <div *ngIf="(product$ | async) as product" class="product">
        <h1>{{ product.name }}</h1>
        <h2>{{ product.type }}</h2>
        <div class="product-price" *ngIf="(stock$ | async) as stock">
          {{ stock.price | euros }}.<span>{{ stock.price | cents }}</span>€
        </div>
        <p [innerHTML]="product.description | replace | safe:'html' ">
        </p>
      </div>

      <div
        *ngIf="stockValues.length > 0"
        class="cart-wrapper"
      >
        <app-btn-select
          [placeholder]="'Taille'"
          [prefix]="'Taille'"
          [values]="stockValues"
          [value]="stock$ | async"
          (valueChange)="onSizeChange($event)"
        >
        </app-btn-select>

        <button class="btn-red" (click)="onAddToCart()">
          {{ !frozen ? 'Ajouter au panier' : 'Ajouté !' }}
        </button>
      </div>
    </div>
  </section>

  <section fxHide.xs>
    <app-product-thumbnails-swiper
      class="product-preview"
      *ngIf="product$ | async as product"
      [images]="product.images"
      (imageIndex)="imageIndex = $event"
    >
    </app-product-thumbnails-swiper>
  </section>
</app-single-layout>
