@import '../../../../scss/variables';

$preview-width: 400px;

section {
  display: flex;
  margin-bottom: 8px;
}

.preview {
  width: $preview-width;
  margin-right: 16px;

  ngx-image-zoom {
    display: block;
  }

  ngx-image-zoom ::ng-deep .ngxImageZoomContainer > img {
    width: $preview-width !important;
  }
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;

  .product {
    margin-bottom: 16px;

    h1 {
      font-size: 40px;
      margin: 0;
      text-transform: uppercase;
      font-weight: 900;
    }

    h2 {
      margin: 0 0 32px;
      font-size: 24px;
      font-weight: 400;
    }

    .product-price {
      margin-bottom: 32px;
      color: $red;
      font-size: 60px;
      font-style: italic;
      font-weight: 900;
      line-height: 1;

      span {
        font-size: 0.6em;
        line-height: 1;
        vertical-align: top;
      }
    }

    p {
      line-height: 1.6;
    }
  }
}

.cart-wrapper {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: 8px;
  }
}
