<app-single-layout [width]="100">
  <section class="product-wrapper">
    <div class="product-preview">
      <ngx-image-zoom
        fxHide.xs
        *ngIf="(currentProduct$ | async) as product"
        [thumbImage]="product.images[imageIndex] | thumb:500"
        [fullImage]="product.images[imageIndex] | thumb: 1500"
        [zoomMode]="'hover'"
        [enableLens]="true"
        [circularLens]="true"
        [lensWidth]="400"
        [lensHeight]="400"
        [isInsideStaticContainer]="true"
      ></ngx-image-zoom>

      <swiper fxHide.gt-xs
              *ngIf="(currentProduct$ | async) as product">
        <div *ngFor="let image of product.images">
          <img [src]="image | thumb:1500" alt="">
        </div>
      </swiper>
    </div>

    <div class="product-infos">
      <div *ngIf="(currentProduct$ | async) as product" class="product">
        <h1>{{ product.name }}</h1>
        <h2>{{ product.type }}</h2>
        <div class="product-price" *ngIf="(stockValues$ | async) as stockValues">
          {{ stockValues[0].value.price | euros }}.<span>{{ stockValues[0].value.price | cents }}</span>€
        </div>
        <p [innerHTML]="product.description | replace | safe:'html' ">
        </p>
      </div>

      <div *ngIf="(stockValues$ | async).length > 0"
           class="cart-wrapper">
        <app-btn-select [placeholder]="'Taille'"
                        [prefix]="'Taille'"
                        [showLabel]="hasInteracted"
                        [values]="stockValues$ | async"
                        [value]="currentStock$ | async"
                        (valueChange)="onSizeChange($event)">
        </app-btn-select>

        <button mat-flat-button color="primary" [disabled]="!hasInteracted" (click)="onAddToCart()">
          {{ !frozen ? 'Ajouter au panier' : 'Ajouté !' }}
        </button>
      </div>
    </div>
  </section>

  <section fxHide.xs>
    <app-product-thumbnails-swiper
      class="product-preview"
      *ngIf="currentProduct$ | async as product"
      [images]="product.images"
      (imageIndex)="imageIndex = $event"
    >
    </app-product-thumbnails-swiper>
  </section>
</app-single-layout>
