<img class="cart-product-image"
     [src]="cartItem.product.image_first | thumb: 100"
     alt="">

<article>
  <div class="cart-product-infos">
    <div class="cart-product-name-wrapper">
      <h3 class="cart-product-name">{{cartItem.product.name}}</h3>
      <div class="cart-product-type">{{cartItem.product.type}}</div>
    </div>

    <div class="cart-product-price-wrapper">
      <div class="cart-product-price">{{cartItem.stock.price | price}}</div>
      <img class="cart-product-delete"
           src="https://storage.googleapis.com/cdn.chaudmarais.fr/img/icons/cancel.svg"
           alt="Supprimer cet article du panier"
           (click)="onQuantityChange(0)">
    </div>
  </div>

  <div class="cart-product-actions">
    <app-btn-select
      [placeholder]="'Taille'"
      [prefix]="'Taille'"
      [values]="values"
      [value]="cartItem.stock"
      (valueChange)="onStockChange($event)"
    ></app-btn-select>

    <app-btn-select
      [placeholder]="'Qté'"
      [prefix]="'qté'"
      [values]="quantities"
      [value]="cartItem.quantity"
      (valueChange)="onQuantityChange($event)"
    ></app-btn-select>
  </div>
</article>
