@import "../../../../scss/variables";
@import "../../../../scss/mixins";

:host {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.cart-product-image {
  margin-right: 8px;
}

.cart-product-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include gt-xs {
    flex-direction: row;
    align-items: center;
  }

  .cart-product-name-wrapper {
    flex-direction: column;
    font-size: $base-font-size-xs;

    @include gt-md {
      flex-direction: row;
    }

    .cart-product-name {
      margin: 0 0 8px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;

      @include xs {
        margin-bottom: 4px;
      }
    }

    .cart-product-type {
      @include gt-md {
        flex-grow: 1;
        text-align: right;
        margin-right: 8px;

        &:before {
          content: ', ';
        }
      }
    }
  }

  .cart-product-price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .cart-product-price {
      margin-right: 8px;
    }

    img {
      height: 20px;
    }
  }
}

.cart-product-actions {
  app-btn-select {
    margin-right: 8px;
  }
}
