<img [src]="cartItem.product.image_first | thumb: 100" alt="">

<article>
  <div class="product-line">
    <h3>{{cartItem.product.name}}</h3>
    <div>, T-shirt</div>
    <div class="price">{{cartItem.stock.price | price}}</div>
    <img (click)="onQuantityChange(0)" src="https://cdn.chaudmarais.fr/img/icons/cancel.svg"
         alt="Supprimer cet article du panier">
  </div>

  <div class="actions">
    <app-btn-select
      [placeholder]="'Taille'"
      [prefix]="'Taille'"
      [values]="values"
      [value]="cartItem.stock"
      (valueChange)="onStockChange($event)"
    ></app-btn-select>

    <app-btn-select
      [placeholder]="'Qté'"
      [prefix]="'qté'"
      [values]="quantities"
      [value]="cartItem.quantity"
      (valueChange)="onQuantityChange($event)"
    ></app-btn-select>
  </div>
</article>
