<table mat-table [dataSource]="orders">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let order">{{order.id}}</td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let order">{{order.total | price}}</td>
  </ng-container>
  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef>Contenu</th>
    <td mat-cell *matCellDef="let order">
      <div *ngFor="let line of order.content">
        {{ line.quantity }} &times; {{ line.product.name }} ({{ line.stock.size }})
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Adresse</th>
    <td mat-cell *matCellDef="let order">
      <app-address [address]="order.shipping"></app-address>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let order" class="product-actions">
      <a mat-flat-button color="primary" target="_blank" [href]="stripeUrl(order)">Stripe</a>

      <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Marquer comme</button>

      <mat-menu #menu="matMenu">
        <button mat-flat-button color="primary" (click)="patchStatus(order.id, 'fulfilled')">Envoyé</button>
        <button mat-flat-button color="primary" (click)="patchStatus(order.id, 'paid')">Non envoyé</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<mat-paginator [pageIndex]="page"
               [pageSize]="perPage"
               [length]="total"
               (page)="onPage($event)"></mat-paginator>
