<div class="container">
  <img fxHide.gt-xs="" routerLink="/" class="logo" src="https://cdn.chaudmarais.fr/img/logo-r90-x1080.png" alt="Logo Chaudmarais">
  <img fxHide.xs routerLink="/" class="logo" src="https://cdn.chaudmarais.fr/img/logo-y1080.png" alt="Logo Chaudmarais">

  <nav>
    <div fxFlex="grow"></div>

    <ul>
      <li><a routerLink="campagne">Campagne</a></li>
      <li><a routerLink="eshop">E-shop</a></li>
      <li><a routerLink="histoire">Histoire</a></li>
    </ul>

    <ul>
      <li>
        <a href="https://www.facebook.com/chaudmarais/" target="_blank" class="social">
          <mat-icon fontSet="cm">facebook</mat-icon>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/chaudmarais/" target="_blank" class="social">
          <mat-icon fontSet="cm">instagram</mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</div>

