@import "../../../../scss/_variables.scss";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex: 1 0 auto;
}

app-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: $sidebar-width;
}

app-footer {
  position: relative;
  z-index: 1;
  display: block;
  flex-shrink: 0;
}

.wrapper {
  padding: 32px 32px 32px 0;
  margin-left: $sidebar-width;
}
