@import '../../../../scss/variables';
@import '../../../../scss/mixins';

app-banner {
  display: block;
  margin: 0 -16px 16px;

  @include gt-xs {
    margin: 0 0 32px 0;
  }
}

section {
  display: flex;
  flex-direction: row;
}

img {
  display: block;
  width: 50%;
  margin-right: 16px;
}

.stat {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;

  .stat-number {
    min-width: 50px;
    margin-right: 16px;
    color: $red;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
  }

  .stat-text {
    flex-grow: 1;
    line-height: 20px;
    text-align: justify;
  }
}
