<app-default-layout>
  <app-banner></app-banner>
  <section>
    <img src="https://placehold.it/800x1000" alt="Temp">
    <div class="text-side">
      <div class="billion">
        <p class="number">
          30
        </p>
        <p class="accroche">
          <span class="red">Milliards.</span> C’est le nombre de pizzas consommées chaque année dans le monde.
        </p>
      </div>
      <div class="billion">
        <p class="number">
          91
        </p>
        <p class="accroche">
          <span class="red">Milliards ?</span> Le nombre de vidéos pornographiques vues chaque année sur Pornhub.
        </p>
      </div>
      <p>
        Aujourd’hui plus libre d’accès que jamais auparavant, le sexe reste pourtant tabou.
      </p>
      <p>
        Sous les traits d’une pizzeria, Chaud marais présente le désir sexuel comme une envie de pizza, le désir assumé,
        le sexe déculpabilisé.
      </p>
      <p class="red">
        Want sex ? Take a slice !
      </p>
    </div>
  </section>
</app-default-layout>
