@import '../../../../scss/variables';
$menu-width: 140px;

:host {
  text-align: center;
}

.logo {
  display: block;
  margin: 32px auto;
  width: calc(#{$menu-width} - 20px);
}

button {
  font-size: 24px;
  width: $menu-width;
}

::ng-deep {
  .mat-menu-panel {
    border-radius: 0 !important;
  }
  .mat-menu-content:not(:empty) {
    padding: 0 !important;
    background-color: $red;
  }
}


a {
  display: block;
  width: $menu-width;
  padding: 16px;
  color: #ed8290;
  cursor: pointer;
  font-weight: 900;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;

  &.current {
    color: #ffffff;
  }
}

.links-icons {
  display: flex;
  flex-direction: row;
  width: $menu-width;
  max-width: $menu-width;

  & > a > img {
    max-width: 40px;
  }
}
