@import '../../../../scss/variables';
$menu-width: 140px;

:host {
  text-align: center;
}

.logo {
  display: block;
  margin: 32px auto;
  width: calc(#{$menu-width} - 20px);
}

button {
  font-size: 24px;
  width: $menu-width;
}

::ng-deep {
  .mat-menu-panel {
    border-radius: 0 !important;
  }
  .mat-menu-content:not(:empty) {
    padding: 0 !important;
    background-color: $red;
  }
}


a {
  display: block;
  width: $menu-width;
  padding: 16px;
  color: #ed8290;
  cursor: pointer;
  font-weight: 900;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s ease;

  &:hover, &.current {
    color: #ffffff;
  }
}

.links-icons {
  display: flex;
  flex-direction: row;
  width: $menu-width;
  max-width: $menu-width;

  > a {
    flex-grow: 1;
    padding: 16px 8px;
    font-size: 40px;
    text-align: center;

    mat-icon {
      &[data-count] {
        position: relative;

        &:before {
          content: attr(data-count);
          position: absolute;
          top: -4px;
          right: -4px;
          display: block;
          padding: 4px;
          color: $red;
          font-size: 18px;
          font-family: $base-font-family;
          background-color: #ed8290;
          border-radius: 99999px;
          transition: .3s ease;
        }
      }
    }

    &:hover mat-icon[data-count]:before {
      background-color: $light-primary-text;
    }
  }
}
