<img routerLink="/" class="logo" src="https://cdn.chaudmarais.fr/img/logo-w150.png" alt="Logo Chaudmarais">

<button class="btn-red trigger" [matMenuTriggerFor]="menu">menu</button>

<mat-menu #menu="matMenu">
  <div class="links">
    <a routerLink="/e-shop" routerLinkActive="current">e-shop</a>
    <a routerLink="/campagne" routerLinkActive="current">campagne</a>
    <a routerLink="/histoire" routerLinkActive="current">histoire</a>
    <div class="links-icons">
      <a routerLink="/eshop/panier" routerLinkActive="current">
        <mat-icon fontSet="cm">cart</mat-icon>
      </a>

      <ng-container *ngIf="isLogged$ | async; else notLogged">
        <a routerLink="/compte/informations" routerLinkActive="current">
          <mat-icon fontSet="cm">user</mat-icon>
        </a>
      </ng-container>
      <ng-template #notLogged>
        <a (click)="openLoginDialog()">
          <mat-icon fontSet="cm">user</mat-icon>
        </a>
      </ng-template>
    </div>
  </div>
</mat-menu>
