@import "../../../../scss/mixins";

app-banner {
  margin: 0 -16px 16px;

  @include gt-xs {
    margin: 0 0 32px 0;
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  app-product-preview {
    width: calc(50% - 16px);
    margin-bottom: 16px;

    &:nth-child(2n) {
      margin-left: 16px;
    }

    &:nth-child(2n + 1) {
      margin-right: 16px;
    }

    @include xs {
      padding: 0 8px;
    }
  }
}
