@import "../../../../scss/mixins";

:host {
  display: flex;
  flex-direction: row;

  @include for-phone-only {
    flex-direction: column;
  }

  .counter {
    flex: 1;
    text-align: center;

    // Hide counter separators for first counter
    &:first-child .value:before, &:first-child .value:after {
      display: none;
    }

    .value {
      position: relative;
      padding: 16px;
      font-size: 20vh;
      line-height: 1;

      @include for-phone-only {
        padding: 0;
        font-size: 8vh;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        left: -4px;
        width: 8px;
        height: 25%;
        background-color: #000;
        border-bottom-left-radius: 100% 15%;
        border-bottom-right-radius: 100% 15%;
        border-top-left-radius: 100% 15%;
        border-top-right-radius: 100% 15%;

        @include for-phone-only {
          display: none;
        }
      }

      &:before {
        top: 20%;
      }

      &:after {
        bottom: 20%;
      }
    }

    .label {
      margin-top: 20px;
      font-size: 24px;
      font-weight: 900;

      @include for-phone-only {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
}
