h1 {
  display: block;
  font-size: 16px;
  padding: 8px 32px;
  text-align: left;
}

p {
  padding: 0;
  margin: 0;
  text-align: justify;
  line-height: 1.6;
}

b {
  display: block;
  margin: 32px 0 16px 0;
}

.centered {
  text-align: center;
  margin: 0 0 32px 0;
}

.conditions {
  text-align: center;
  font-style: italic;
  color: red;
  margin: 32px 0 0 0;
}
