h2 {
  margin: 0 0 8px 0;
  color: red;
  font-style: italic;
  text-align: center;
}

h3 {
  margin: 0 0 32px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

b {
  display: block;
  margin: 32px 0 16px 0;
}

p {
  padding: 0;
  text-align: justify;
  line-height: 1.6;
}
