.product-grid {
  display: flex;
  flex-wrap: wrap;

  app-product-preview {
    width: 50%;

    &:nth-child(2n) {
      padding-left: 16px;
    }

    &:nth-child(2n + 1) {
      padding-right: 16px;
    }
  }
}
