@import "../../../../scss/variables";
@import "../../../../scss/mixins";

mat-vertical-stepper {
  fieldset {
    max-width: 400px;
  }

  mat-radio-group {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
  }
}

.step-actions {
  display: flex;
  flex-direction: column;

  @include gt-xs {
    flex-direction: row;
  }

  button {
    margin-bottom: 8px;

    @include gt-xs {
      margin-right: 16px;
    }
  }
}

#checkout-card-number {
  margin-bottom: 8px;
}
.card-cvc-expiration {
  display: flex;
  flex-direction: row;

  .checkout-card-expiry {
    width: 50%;
    margin-left: 8px;
  }
  .checkout-card-cvc {
    width: 50%;
    margin-right: 8px;
  }
}
.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 2px solid $red;
  border-radius: 0;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
