<app-single-layout [width]="70">
  <app-banner></app-banner>

  <div fxLayout="column" fxLayoutGap="16px">
    <section fxLayout="row" fxLayoutGap="16px">
      <article class="half" fxLayout="column" fxLayoutGap="16px">
        <img src="https://cdn.chaudmarais.fr/img/campaign/1-cropped-x1080.jpg" alt="">
        <img src="https://cdn.chaudmarais.fr/img/campaign/3-x1080.jpg" alt="">
      </article>

      <article class="half" fxLayout="column" fxLayoutGap="16px">
        <img src="https://cdn.chaudmarais.fr/img/campaign/text.png" alt="">
        <img src="https://cdn.chaudmarais.fr/img/campaign/2-x1080.jpg" alt="">
      </article>
    </section>

    <section fxLayout="row" fxLayoutGap="16px">
      <div class="half">
        <img src="https://cdn.chaudmarais.fr/img/campaign/4-x1080.jpg" alt="">
      </div>
      <div class="half">
        <img src="https://cdn.chaudmarais.fr/img/campaign/5-x1080.jpg" alt="">
      </div>
    </section>

    <img src="https://cdn.chaudmarais.fr/img/campaign/6-x1920.jpg" alt="">
    <img src="https://cdn.chaudmarais.fr/img/campaign/7-x1920.jpg" alt="">

    <section fxLayout="row" fxLayoutGap="16px">
      <img style="width: 46.5%" src="https://cdn.chaudmarais.fr/img/campaign/8-x1080.jpg" alt="">

      <article class="half" fxLayout="column" fxLayoutGap="16px" fxFlex="grow">
        <img src="https://cdn.chaudmarais.fr/img/campaign/9-x1080.jpg" alt="">
        <img src="https://cdn.chaudmarais.fr/img/campaign/10-x1080.jpg" alt="">
      </article>
    </section>

    <img class="last" src="https://cdn.chaudmarais.fr/img/campaign/11-x1920.jpg" alt="">
  </div>
</app-single-layout>
