@import '../../../../scss/variables';
@import '../../../../scss/mixins';

:host {
  padding-bottom: 16px;
}

app-banner {
  display: block;
  margin: 0 -16px 16px;

  @include gt-xs {
    margin: 0 0 32px 0;
  }
}

section {
  display: flex;
  flex-direction: row;
}

.half {
  width: 50%;

  img {
    max-width: 100%;
  }
}

.last {
  margin-bottom: 16px;
}
