<app-default-layout>
  <app-banner></app-banner>

  <section>
    <img src="https://placehold.it/800x1000" alt="Temp">

    <article class="text-side">
      <div class="stat">
        <div class="stat-number">30</div>
        <div class="stat-text">
          <span class="red">Milliards.</span> C’est le nombre de pizzas consommées chaque année dans le monde.
        </div>
      </div>

      <div class="stat">
        <div class="stat-number">91</div>
        <div class="stat-text">
          <span class="red">Milliards ?</span> Le nombre de vidéos pornographiques vues chaque année sur Pornhub.
        </div>
      </div>

      <p>Aujourd’hui plus libre d’accès que jamais auparavant, le sexe reste pourtant tabou.</p>

      <p>
        Sous les traits d’une pizzeria, Chaud marais présente le désir sexuel comme une envie de pizza, le désir assumé,
        le sexe déculpabilisé.
      </p>

      <p class="red">Want sex ? Take a slice !</p>
    </article>
  </section>
</app-default-layout>
