<div class="title-red">
  <mat-icon fontSet="cm">user</mat-icon>
</div>

<form [formGroup]="registerForm" novalidate (ngSubmit)="onRegister()">
  <fieldset>
    <label for="register-last-name">Nom :</label>
    <input type="text" id="register-last-name" formControlName="last_name">
  </fieldset>

  <fieldset>
    <label for="register-first-name">Prénom :</label>
    <input type="text" id="register-first-name" formControlName="first_name">
  </fieldset>

  <fieldset>
    <label for="login-email">E-mail :</label>
    <input type="email" id="login-email" formControlName="email">
  </fieldset>

  <fieldset>
    <label for="login-password">Mot de passe :</label>
    <input type="password" id="login-password" formControlName="password">
  </fieldset>

  <button type="submit" class="btn-red">Créer mon compte</button>
</form>

