<img class="logo"
     src="https://cdn.chaudmarais.fr/img/logo-black-r90-h150.png"
     alt=""
     routerLink="/">

<div class="actions">
  <mat-icon class="menu-trigger" [matMenuTriggerFor]="menu">menu</mat-icon>

  <ng-container *ngIf="isLogged$ | async; else notLogged">
    <mat-icon fontSet="cm" routerLink="/compte/informations" routerLinkActive="current">user</mat-icon>
  </ng-container>
  <ng-template #notLogged>
    <mat-icon fontSet="cm" (click)="openLoginDialog()">user</mat-icon>
  </ng-template>

  <mat-icon fontSet="cm" routerLink="/eshop/panier">cart</mat-icon>
</div>

<mat-menu #menu="matMenu">
  <div class="links">
    <a mat-flat-button color="primary" routerLink="/e-shop" routerLinkActive="current">e-shop</a>
    <!--<a mat-flat-button color="primary" routerLink="/campagne" routerLinkActive="current">campagne</a>-->
    <a mat-flat-button color="primary" routerLink="/histoire" routerLinkActive="current">histoire</a>
  </div>
</mat-menu>
