@import "../../../../scss/variables";

:host {
  display: flex;
  background-color: $red;
  width: 100%;
  padding: 16px;
  // justify-content: space-between;

  .logo {
    width: 150px;
    height: 49px; // Workaround for Safari iOS
  }

  .actions {
    font-size: 40px;
    color: $light-primary-text;
    margin-left: auto;
  }
}

.links {
  display: flex;
  flex-direction: column;
}
