@import '../../../../scss/variables';

.container {
  display: flex;
  flex-direction: row;
}

.cart {
  width: 70%;
  margin-right: 32px;
}

.total ::ng-deep {
  .line {
    margin-bottom: 32px;
    font-size: 20px;
  }

  button {
    display: block;
    margin: 200px auto 0;
  }
}
