<app-single-layout [width]="70" [image]="'https://cdn.chaudmarais.fr/img/icons/cart.svg'">
  <div class="container">
    <app-card class="cart">
      <h1 class="title-red" card-title>panier</h1>
      <ng-container card-content>
        <div *ngIf="(cart$ | async).length === 0">Désolé, votre panier est vide !</div>
        <app-cart-element *ngFor="let item of cart$ | async" [cartItem]="item"></app-cart-element>
      </ng-container>
    </app-card>

    <app-card class="total">
      <h1 class="title-red" card-title>total</h1>

      <ng-container card-content>
        <div class="line">
          <span>Sous total:</span>
          <span>{{subtotal$ | async | price}}</span>
        </div>

        <div class="line" *ngIf="shipping$ | async as shipping">
          <span>{{shipping.name}}:</span>
          <span>{{shipping.price | price}}</span>
        </div>

        <div class="line">
          <span>Total:</span>
          <span>{{total$ | async | price}}</span>
        </div>

        <button routerLink="/paiement" class="btn-red">Payer</button>
      </ng-container>
    </app-card>
  </div>
</app-single-layout>
