@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.container {
  display: flex;
  flex-direction: column;

  @include gt-xs {
    flex-direction: row;
  }
}

.cart {
  width: 100%;
  margin: 0 0 32px;

  @include gt-xs {
    width: 70%;
    margin-right: 32px;
  }

  app-cart-element:last-child {
    margin: 0;
  }
}

.total {
  margin-bottom: 32px;
  .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: $base-font-size-xs;

    @include gt-xs {
      font-size: $base-font-size;
    }
  }

  button {
    display: block;

    @include gt-xs {
      margin: 200px auto 0;
    }
  }
}
