<app-account-layout>
  <div class="wrapper">
    <app-card class="addresses">
      <h3 card-title class="title-red">Mes adresses enregistrées</h3>
      <ng-container card-content *ngIf="addresses$ | async as addresses">
        <div class="address" *ngFor="let address of addresses">
          {{ address.name }}<br>
          {{ address.line1 }}<br>
          <ng-container *ngIf="address.line2">
            {{ address.line2 }}<br>
          </ng-container>
          {{ address.postal_code }} {{ address.city }}<br>
          {{ address.country }}
        </div>

        <p *ngIf="addresses.length === 0">Aucune addresse enregistrée.</p>
      </ng-container>
    </app-card>

    <app-card class="address-form">
      <h3 card-title class="title-red">Ajouter une adresse</h3>
      <app-address-form card-content></app-address-form>
    </app-card>
  </div>
</app-account-layout>
