<app-default-layout>
  <section>
    <h1 class="title-red">Politique de retours</h1>
    <p>
      Tout article est échangeable et remboursable dans un délai de 29 jours après réception
      de la commande. Passé ce délai, nous ne serons plus en mesure de répondre à votre
      demande.
    </p>
    <p>
      Les articles doivent être retournés en état, non portés, non lavés.
    </p>
    <p>
      Pour tout échange ou retour merci d’expédier vos articles à l’adresse suivante :
    </p>
    <div class="address-box">
      <p>Anicet Pham - Chaud marais</p>
      <p>6 rue du Gournay</p>
      <p>57070 Metz</p>
      <p>France</p>
    </div>
  </section>
</app-default-layout>
