<app-single-layout [title]="'Politique de retour'">
  <p>
    Tout article est échangeable et remboursable dans un délai de 29 jours après réception de la commande. Passé ce
    délai, nous ne serons plus en mesure de répondre à votre demande.
  </p>

  <p>Les articles doivent être retournés en état, non portés, non lavés.</p>

  <p>Pour tout échange ou retour merci d’expédier vos articles à l’adresse suivante :</p>

  <address>
    <p>
      Anicet Pham - Chaud marais<br>
      6 rue du Gournay<br>
      57070 Metz<br>
      France
    </p>
  </address>
</app-single-layout>
