@import '../../../../scss/variables';


p {
  text-align: justify;

  &:last-of-type {
    margin-bottom: 32px;
  }
}

address {
  display: block;

  p {
    display: inline-block;
    padding: 16px;
    border: 2px solid $red;
    font-style: normal;
    font-weight: 400;
  }
}
