<div class="title-red">
  <mat-icon fontSet="cm">user</mat-icon>
</div>

<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <div *ngIf="error" class="form-error">
    Identifiants incorrects, veuillez ré-essayer
  </div>

  <fieldset>
    <label for="login-email">E-mail :</label>
    <input type="email" id="login-email" formControlName="email">
  </fieldset>

  <fieldset>
    <label for="login-password">Mot de passe :</label>
    <input type="password" id="login-password" formControlName="password">
    <small class="password-forgotten">mot de passe oublié</small>
  </fieldset>

  <button type="submit" mat-flat-button color="primary">Connexion</button>
  <button type="button" mat-flat-button color="primary" (click)="openRegisterPage()">Nouveau compte</button>
</form>

