@import "../../../../scss/mixins";

.title-red {
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 0 32px;
  align-items: center;

  @include gt-xs {
    min-width: 400px;
  }

  fieldset, input {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .password-forgotten:hover {
    text-decoration: underline;
  }

  button[mat-flat-button] {
    margin-bottom: 16px;
  }
}

.form-error {
  width: 100%;
  margin-bottom: 16px;
}
