@font-face {
  font-family: 'chaud-marais-icons';
  src: url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/chaud-marais-icons/chaud-marais-icons.eot');
  src: url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/chaud-marais-icons/chaud-marais-icons.eot#iefix') format('embedded-opentype'),
  url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/chaud-marais-icons/chaud-marais-icons.woff') format('woff'),
  url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/chaud-marais-icons/chaud-marais-icons.ttf') format('truetype'),
  url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/chaud-marais-icons/chaud-marais-icons.svg#chaud-marais-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.chaud-marais-icons {
  display: inline-block;
  width: 1em !important;
  height: 1em !important;
  font-family: 'chaud-marais-icons', serif !important;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
