<app-default-layout>
  <div class="wrapper">
    <div class="title-red" fxLayout="row" fxLayoutGap="16px">
      <mat-icon fontSet="cm" class="nav-icon">user</mat-icon>

      <nav class="nav-links">
        <a routerLink="/compte/informations" routerLinkActive="current">
          <mat-icon fontSet="cm" class="gt-xs-hide">user</mat-icon>
          <div>Mes informations</div>
        </a>
        <a routerLink="/compte/adresses" routerLinkActive="current">
          <mat-icon fontSet="cm" class="gt-xs-hide">home</mat-icon>
          <div>Mes addresses</div>
        </a>
        <a routerLink="/compte/commandes" routerLinkActive="current">
          <mat-icon fontSet="cm" class="gt-xs-hide">cart</mat-icon>
          <div>Mes commandes</div>
        </a>
        <a (click)="logout()">
          <mat-icon class="gt-xs-hide">power_settings_new</mat-icon>
          <div>Déconnexion</div>
        </a>
      </nav>
    </div>

    <ng-content></ng-content>
  </div>
</app-default-layout>
