@import "../../../../scss/mixins";

:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;

  @include for-phone-only {
    right: 5vw;
  }

  .logo-handler {
    flex: 4;

    @include for-phone-only {
      flex: 2;
      padding: 16px;
      flex-direction: column;
      align-items: center;
    }

    img {
      padding: 50px;
      width: 150px;
      max-width: 100%;
      max-height: 100%;

      @include for-phone-only {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
      }
    }
  }

  .countdown-handler {
    flex: 7;
    display: flex;
    flex-direction: column;

    @include for-phone-only {
      flex: 5;
    }

    .title-handler {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include for-phone-only {
        flex: 2;
      }

      h1 {
        text-align: center;
        font-style: italic;
        line-height: 1.4;

        @include for-phone-only {
          font-size: 16px;
        }
      }
    }

    app-countdown {
      flex: 2;

      @include for-phone-only {
        flex: 6;
        font-size: 12px;
      }
    }

    .newsletter-form-handler {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include for-phone-only {
        flex: 2;
      }

      app-newsletter-form {
        width: 60%;
        min-height: 120px;

        @include for-phone-only {
          width: 90%;
          min-height: 60px;
        }
      }
    }

    .social-handler {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: #000000;
        margin: 0 8px;

        fa-icon {
          font-size: 40px;

          @include for-phone-only {
            font-size: 20px;
          }
        }
      }
    }
  }
}
