<div class="logo-handler">
  <img src="https://cdn.chaudmarais.fr/img/logo-w150.png" alt="">
</div>
<div class="countdown-handler">
  <div class="title-handler">
    <h1>Chez Chaud marais on ose, on aguiche,<br/>on provoque, on jouit.</h1>
  </div>

  <app-countdown></app-countdown>

  <div class="newsletter-form-handler">
    <app-newsletter-form></app-newsletter-form>
  </div>

  <div class="social-handler">
    <a href="https://www.facebook.com/chaudmarais" target="_blank">
      <fa-icon [icon]="facebook"></fa-icon>
    </a>
    <a href="https://www.instagram.com/chaudmarais" target="_blank">
      <fa-icon [icon]="instagram"></fa-icon>
    </a>
  </div>
</div>
