@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900,900i&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: $base-font-size;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}

label {
  display: block;
  margin: 0 0 8px 0;
  font-size: $base-font-size;
}

input[type=text], input[type=email], input[type=password] {
  display: block;
  padding: 0.4em 0.5em;
  font-size: $base-font-size;
  border: solid 2px $red;
}

fieldset {
  margin: 0 0 16px;
  padding: 0;
  border: 0;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;

  thead {
    th {
      vertical-align: bottom;
      padding: 0.5em 0.7em;
      border-bottom: 2px solid #dee2e6;
      text-align: left;
    }
  }
  tbody {
    td {
      vertical-align: bottom;
      padding: 0.5em 0.7em;
      border-bottom: 1px solid #dee2e6;
    }
  }
}

.red {
  color: $red;
}

.btn-red {
  padding: 0.2em 0.5em;
  color: #ffffff;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: $red;
  border: solid 2px $red;
  box-shadow: none;

  &:hover {
    transition: all .2s;
    @extend .btn-red-inv;
  }
}

.btn-red-inv {
  @extend .btn-red;
  color: $red;
  background-color: #fff;

  &:hover {
    color: #ffffff;
    background-color: $red;
  }
}

.title-red {
  box-sizing: border-box;
  display: block;
  margin: 0 0 32px 0;
  padding: 8px 32px;
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  background-color: $red;
  border: 0;
  box-shadow: none;

  .title-red-icon {
    height: 1em;
  }
}

