@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900,900i&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body, * {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: $base-font-size;

  @include xs {
    font-size: $base-font-size-xs;
  }
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}

label {
  display: block;
  margin: 0 0 8px 0;
  font-size: $base-font-size;

  @include xs {
    font-size: $base-font-size-xs;
  }
}

input[type=text], input[type=email], input[type=password] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.4em 0.5em;
  font-size: $base-font-size;
  border: solid 2px $red;

  @include xs {
    font-size: $base-font-size-xs;
  }
}

fieldset {
  margin: 0 0 16px;
  padding: 0;
  border: 0;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;

  thead {
    th {
      vertical-align: bottom;
      padding: 0.5em 0.7em;
      border-bottom: 2px solid #dee2e6;
      text-align: left;
    }
  }
  tbody {
    td {
      vertical-align: bottom;
      padding: 0.5em 0.7em;
      border-bottom: 1px solid #dee2e6;
    }
  }
}
