@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900i&display=swap');

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 18px;
}

p {
  margin-top: 0;
}

.red {
  color: $red;
}

.btn-red {
  padding: 0.2em 0.5em;
  color: #ffffff;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: $red;
  border: 0;
  box-shadow: none;
}

.title-red {
  display: block;
  margin: 0 0 32px 0;
  padding: 8px 32px;
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  background-color: $red;
  border: 0;
  box-shadow: none;
}

