@import "mixins";

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

@include xs {
  .xs-hide {
    display: none;
  }
}
@include gt-xs {
  .gt-xs-hide {
    display: none;
  }
}

.fx-row {
  display: flex;
  flex-direction: row;
}
.fx-column {
  display: flex;
  flex-direction: column;
}
