@font-face {
  font-family: 'Sharp Grotesk';
  src: url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-bold.woff2') format('woff2'),
  url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-bold-italic.woff2') format('woff2'),
  url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;

}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-medium.woff2') format('woff2'),
  url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-medium-italic.woff2') format('woff2'),
  url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-medium-italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-sm-bold.woff2') format('woff2'),
  url('https://storage.googleapis.com/cdn.chaudmarais.fr/fonts/sharpgrotesk/sharpgrotesk-sm-bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
