@import "../../../../scss/mixins";

::ng-deep app-default-layout > section > .wrapper > .title-red {
  @include xs {
    margin-bottom: 0;
  }

  @include gt-xs {
    width: 70%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;

  @include gt-xs {
    flex-direction: row;
    width: 70%;
    padding: 0;
  }
}

.left {
  @include gt-xs {
    margin-right: 16px;
    flex-shrink: 0;
  }
}

.right {
  @include gt-xs {
    flex-grow: 1;
  }
}
