<app-default-layout>
  <section>
    <h1 class="title-red">Remerciements</h1>
    <div class="product-wrapper">
      <img src="https://placehold.it/400x800" alt="La team">
      <div class="elem">
        <p>
          La créatrice de la marque tient à remercier toutes les personnes qui ont de près ou de loin soutenu et
          participé
          au projet : Quentin notre graphiste, Mathieu notre développeur, Morgane, et sa famille Valérie, Michel et
          Faustine.
        </p>
        <p>
          Pour les images, un grand merci à Camille du Collectif Le Réseau et Didi nos photographes, Axel, Rime, Cora,
          Susanna, Mina, Yacine, Khaled et Eliott nos modèles, Chloé et Léa nos muah, la pizzeria Sette et tous les amis
          ayant participé aux prises de vues pour Instagram.
        </p>
      </div>
    </div>
  </section>
</app-default-layout>
